* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

/* Header */
header .container {
  font-size: 12px;
  color: #999;
}
header .container .bi {
  color: #4c78fa;
}
header .container .space {
  margin: 0 1rem;
}

/* Hero Section */
section#hero {
  padding: 4rem 0;
}
section#hero .container .row .hero-text {
  color: #040411;
}
section#hero .container .row .hero-text #since {
  font-size: 12px;
}
section#hero .container .row .hero-text #since span {
  color: #4c78fa;
}
section#hero .container .row .hero-text h1 {
  font-weight: 800;
}
section#hero .container .row .hero-text h1 span {
  color: #4c78fa;
}
section#hero .container .row .hero-button .btn {
  font-size: 14px;
}
section#hero .container .row .hero-button .btn-first {
  background-color: #4c78fa;
  color: #fff;
  transition: 0.5s ease;
}
section#hero .container .row .hero-button .btn-first:hover {
  box-shadow: #4c77fa7a 0px 8px 24px;
}
section#hero .container .row .hero-image img {
  width: 100%;
}

/* Keunggulan Section */
section#keunggulan {
  background-color: #4c78fa;
}
section#keunggulan .container .row img {
  width: 15%;
  height: 15%;
}
section#keunggulan .container .row .keunggulan-text {
  color: #fff;
}
section#keunggulan .container .row .keunggulan-text span {
  font-weight: 700;
}
section#keunggulan .container .row .keunggulan-text p {
  font-size: 14px;
  margin-bottom: 0;
}

/* About Section */
section#about .container .row .about-text {
  color: #040411;
}
section#about .container .row .about-text #since {
  font-size: 12px;
}
section#about .container .row .about-text #since span {
  color: #4c78fa;
}
section#about .container .row .about-text h1 {
  font-weight: 800;
}
section#about .container .row .about-text h1 span {
  color: #4c78fa;
}
section#about .container .row .about-image img {
  width: 100%;
}
section#about .container .row .about-rate span {
  font-size: 2rem;
  font-weight: 800;
  color: #040411;
}
section#about .container .row .about-rate p {
  font-size: 14px;
  color: #999;
}

/* Services Section */
section#services .container .row .services-text {
  color: #040411;
}
section#services .container .row .services-text #since {
  font-size: 12px;
}
section#services .container .row .services-text #since span {
  color: #4c78fa;
}
section#services .container .row .services-text h1 {
  font-weight: 800;
}
section#services .container .row .services-text h1 span {
  color: #4c78fa;
}
section#services .container .row .services-image img {
  width: 100%;
}
section#services .container .row .services-image .card {
  width: 18em;
  height: auto;
  padding: 0;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s ease;
}
section#services .container .row .services-image .card:hover {
  transform: translateY(-10px);
}
section#services .container .row .services-image .card .card-img {
  position: relative;
  height: 180px;
  width: 100%;
  border-radius: inherit;
}
section#services .container .row .services-image .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
section#services .container .row .services-image .card .card-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #4c77fa7a);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
section#services .container .row .services-image .card .card-text {
  padding: 1rem;
}
section#services .container .row .services-image .card .card-text h5 {
  font-weight: 700;
  color: #4c78fa;
}
section#services .container .row .services-image .card .card-text p {
  font-size: 14px;
  font-weight: 300;
}

/* Choose Us Section */
section#choose .container {
  color: #040411;
}
section#choose .container .heading #since {
  font-size: 12px;
}
section#choose .container .heading #since span {
  color: #4c78fa;
}
section#choose .container .heading h1 {
  font-weight: 800;
}
section#choose .container .heading h1 span {
  color: #4c78fa;
}
section#choose .container .content .choose-image img {
  width: 100%;
}
section#choose .container .content-text h5 {
  font-weight: 800;
  margin-top: 0.5rem;
  font-size: 18px;
}
section#choose .container .content-text p {
  font-size: 14px;
}
section#choose .container .content-text .feature .feature-icon img {
  width: 15%;
}

/* Contact Us Section */
section#contact {
  background: #3e4e88;
  color: #fff;
  padding: 4rem 0;
}
section#contact .container .row .col-12 .btn {
  font-size: 14px;
}
section#contact .container .row .col-12 .btn-first {
  background-color: #4c78fa;
  color: #fff;
  transition: 0.5s ease;
  padding: 0.5rem 5rem;
}
section#contact .container .row form .form-control {
  background-color: #4c77fa53;
  color: #fff;
  border: 0;
}
section#contact .container .row form span {
  color: rgb(255, 90, 90);
}
section#contact .container .row form .form-control::placeholder {
  color: #ffffffb9;
}
section#contact .container .row form textarea {
  resize: none;
}
section#contact .container .row .col-12 .btn-first:hover {
  background-color: #fff;
  color: #4c78fa;
}
section#contact .container .row .heading-content #since {
  font-size: 12px;
}
section#contact .container .row .heading-content #since span {
  color: #4c78fa;
}
section#contact .container .row .heading-content h1 {
  font-weight: 800;
}
section#contact .container .row .heading-content h1 span {
  color: #4c78fa;
}
section#contact .container .row .heading-content .content a {
  text-decoration: none;
  color: #fff;
}
section#contact .container .row .heading-content .content a:hover {
  text-decoration: underline;
}
section#contact .container .row .heading-content .content > div {
  margin-bottom: 2rem;
}
section#contact .container .row .heading-content .content i {
  background-color: #4c78fa;
  padding: 0.5rem 0.6rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

/* Our Doctor Section */
section#doctor .container .row .doctor-text #since {
  font-size: 12px;
}
section#doctor .container .row .doctor-text #since span {
  color: #4c78fa;
}
section#doctor .container .row .doctor-text h1 {
  font-weight: 800;
}
section#doctor .container .row .doctor-text h1 span {
  color: #4c78fa;
}
section#doctor .container .row .doctor-image .card {
  width: 18em;
  height: auto;
  padding: 0;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s ease;
}
section#doctor .container .row .doctor-image .card:hover {
  transform: translateY(-10px);
}
section#doctor .container .row .doctor-image .card .card-img {
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: inherit;
}
section#doctor .container .row .doctor-image .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#doctor .container .row .doctor-image .card .card-text {
  padding: 1rem;
}
section#doctor .container .row .doctor-image .card .card-text h5 {
  font-weight: 700;
  font-size: 18px;
  color: #4c78fa;
}
section#doctor .container .row .doctor-image .card .card-text p {
  font-weight: 14px;
  color: #ccc;
}

/* FAQ Section */
section#faq .container .row .faq-text #since {
  font-size: 12px;
}
section#faq .container .row .faq-text #since span {
  color: #4c78fa;
}
section#faq .container .row .faq-text h1 {
  font-weight: 800;
}
section#faq .container .row .faq-text h1 span {
  color: #4c78fa;
}
section#faq .container .row .accordion button p {
  font-weight: 700;
}
section#faq .container .row .accordion button p span {
  color: #4c78fa;
}
section#faq .container .row .accordion .accordion-body {
  font-size: 14px;
}

/* Footer Section */
footer {
  color: #fff;
  background-color: #3e4e88;
}
footer span {
  color: #4c78fa;
  font-weight: 800;
}
footer p {
  font-weight: lighter;
}
footer h5 {
  font-weight: 900;
}
footer a {
  color: #fff;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.5s ease;
}
footer a:hover {
  text-decoration: underline;
}
footer .socmed {
  display: flex;
  justify-content: space-around;
}
footer .socmed div .bi {
  background-color: #4c77fa53;
  padding: 0.5rem 0.65rem;
  transition: 0.5s ease;
}
footer .socmed div .bi:hover {
  background-color: #fff;
  color: #4c78fa;
}

@media screen and (max-width: 991px) {
  html {
    scroll-padding-top: 0;
  }
}

/* Media Screen Max 768px */
@media screen and (max-width: 768px) {
  #since {
    margin-top: 1rem;
  }
  header .container {
    font-size: 7.5px;
  }
  section#hero {
    padding-top: 0;
  }
  section#hero .container .row .hero-image img {
    margin-top: 2rem;
  }
  section#keunggulan .container .row .col-md img {
    width: 10%;
  }
  section#keunggulan .container .row .col-md {
    margin-bottom: 2rem;
  }
  section#keunggulan .container .row .col-md:last-child {
    margin-bottom: 0;
  }
  section#services .container .row .services-image .card {
    width: 25em;
  }
  section#choose .container .content-text {
    margin-top: 1rem;
  }
  section#doctor .container .row .services-image .card {
    width: 25em;
  }
  footer .copy-icon {
    padding-left: 0;
  }
}

/* Media Screen Max 576px */
@media screen and (max-width: 576px) {
  section#about .container .row .about-image img {
    display: none;
  }
  section#choose .container .content {
    text-align: center;
  }
  section#choose .container .content-text .feature .feature-icon img {
    width: 8.5%;
  }
  section#choose .container .content .choose-image img {
    width: 80%;
  }
  footer .container .row .socmed {
    margin-top: 1rem;
  }
}

/* Media Screen Max 768px */
@media screen and (max-width: 480px) {
  #since {
    font-size: 10px;
  }
  section#hero .container .row .hero-text {
    font-size: 12px;
  }
  section#keunggulan .container .row .keunggulan-text span {
    font-size: 14px;
  }
  section#keunggulan .container .row .keunggulan-text p {
    font-size: 12px;
  }
  section#about .container .row .about-text p {
    font-size: 12px;
  }
  section#about .container .row .about-rate span {
    font-size: 22px;
  }
  section#contact .container .row .heading-content .heading .cont,
  section#contact .container .row .heading-content .content a {
    font-size: 12px;
  }
  section#contact .container .row form,
  section#contact .container .row form .form-control,
  section#contact .container .row form .btn-first {
    font-size: 12px;
  }
  footer .container .row .col-md-3 p,
  footer .container .row .col-md-2 p a,
  footer .container .row .col-md-3 p a,
  footer .container .row .col-md-7 p {
    font-size: 12px;
  }
}

/* Media Screen Max 380px */
@media screen and (max-width: 380px) {
  header .container {
    font-size: 6px;
  }
}
